@import "/node_modules/bootstrap/dist/css/bootstrap.min.css";

@font-face {
  font-family: "VT323";
  src: url("/src/assets/fonts/VT323-Regular.ttf") format("truetype");
}

body {
  background-color: #e3dfaa;
  color: #141414;
  font-family: "VT323", Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  overflow-x: hidden;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
}

.offscreen {
  height: 100vh;
  width: 100vw;
  background-color: #141414;
  z-index: 9999;
  position: absolute;
}

.offscreen .offscreen-button-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offscreen .offscreen-button-wrapper a {
  border: 1px solid #eca6a6;
  background-color: #eca6a6;
  color: #141414;
  font-size: 1.75rem;
  padding: 0.5rem 4rem;
  border-radius: 9999px;
}

.offscreen .offscreen-button-wrapper a:hover {
  background-color: #141414;
  color: #eca6a6;
  border: 1px solid #eca6a6;
}

.content {
  padding: 44px 32px 0 32px;
}

.content .menu {
  height: calc(100% - 64px);
}

.content .dialog-window-wrapper {
  height: calc(100% - 64px);
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.content .menu .desktop-icons {
  width: 5rem;
}

.link-icon {
  width: 1rem;
  margin-left: 0.5rem;
}

#portfolioDialog {
  position: absolute;
  right: 5vw;
  bottom: 5vw;
}

#servicesDialog {
  position: absolute;
  left: 15vw;
  bottom: 15vw;
}

#contactDialog {
  position: absolute;
  left: 5vw;
  bottom: 5vw;
}

.content .dialog-window-wrapper .dialog-window {
  background-color: #ededed;
  padding: 0.4rem;
  display: none;
}

.content .dialog-window-wrapper .dialog-window .dialog-header {
  background-color: #eda6a6;
  padding: 0.4rem;
  margin-bottom: 0.4rem;
}

.content
  .dialog-window-wrapper
  .dialog-window
  .dialog-header
  .dialog-header-icon {
  width: 1.5rem;
  height: 1.5rem;
}

.content
  .dialog-window-wrapper
  .dialog-window
  .dialog-body
  .services-description {
  width: 25vw;
}

.content .dialog-window-wrapper .dialog-window .popup-button {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.3rem;
  margin-left: 0.3rem;
  background-color: #ececec;
  box-shadow: -2px -2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.content .dialog-window-wrapper .dialog-window .dialog-body {
  padding: 0.9rem 1.7rem;
}

.footer {
  background-color: #ededed;
}

.footer .footer-menu {
  position: absolute;
  left: 0%;
  top: auto;
  right: auto;
  bottom: 98%;
  display: none;
  width: auto;
  min-height: 3rem;
  padding: 1rem 1rem 1rem 3rem;
  background-color: #ececec;
  box-shadow: inset 3px 2px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
  z-index: 9999;
}

.footer .footer-menu .start-strip {
  position: absolute;
  left: 0%;
  top: 0%;
  right: auto;
  bottom: 0%;
  display: flex;
  width: 1.8rem;
  height: auto;
  margin-top: 0.3rem;
  margin-left: 0.3rem;
  padding-left: 4px;
  align-items: flex-end;
  background-color: #eca6a6;
}

.footer .footer-menu .start-strip .text-block {
  position: absolute;
  transform: translate(0px, -10px) rotate(-90deg);
}

.footer .footer-menu .footer-links {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0.7rem;
}

.footer .footer-menu .footer-links:hover {
  background-color: hsla(0, 0%, 65.3%, 0.74);
}

.footer .footer-menu .divider {
  width: auto;
  height: 0.25px;
  background-color: #a7a7a7;
}

.footer .footer-menu .footer-links .footer-icon {
  width: 2rem;
  margin-right: 0.5rem;
}

.footer .menu-button {
  width: 8rem;
  margin: 0rem 1rem;
  padding: 0.25rem 0rem;
  box-shadow: -3px -3px 0 0 #fff, 2px 2px 0 1px #a7a7a7;
  font-weight: 400;
}

.footer .menu-button h3 {
  font-size: 1.5rem;
}

.footer .footer-divider {
  display: block;
  width: 0.3rem;
  min-height: 2rem;
  background-color: #ececec;
  box-shadow: inset -3px -3px 0 0 #fff, 2px 2px 0 0 #a7a7a7;
}

.footer .floating-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  text-align: center;
}

.open {
  display: block !important;
}

@media all and (max-width: 1024px) {
  #portfolioDialog {
    position: static;
  }

  #servicesDialog {
    position: static;
  }

  #contactDialog {
    position: static;
  }

  .content .dialog-window-wrapper .dialog-window .dialog-body .services-image {
    width: 100%;
    height: auto;
  }

  .content
    .dialog-window-wrapper
    .dialog-window
    .dialog-body
    .services-description {
    width: 100%;
  }

  .footer .floating-text {
    font-size: 1.5rem;
  }
}

@media all and (max-width: 768px) {
  .content {
    flex-direction: column !important;
  }

  .footer .floating-text {
    display: none;
  }

  .footer .footer-divider {
    display: none;
  }
}
